*{
padding:0;
margin:0;
font-family: 'arial';
box-sizing: border-box;
}

body{
width: 100%;
min-height: 100vh; 
}

section{
 width: 100%;
height: 100vh;  
position: relative;
overflow-y: hidden;
}

section div.background-section{
width: 100%;
height: 100%;
position: absolute;
object-fit: cover;
z-index: 0;
}

section div.background-section video{
width: 100%;
height: 100%;
object-fit: cover ;
object-position: center;
}
section div.box{
width: 50%;
position: relative;
height: 100%;
z-index: 1;
background: linear-gradient(to right, rgba(0, 0, 0, 0.9),
transparent);
display: flex;
align-items: center;
justify-content: top;
padding: 2%;
}

section div.box div.conteudo img{
width: 80%;

}

section div.box{
width: 100%;
min-width: 300px;

}

section div.box p{
color: aliceblue;
line-height: 30px;
font-size: 20px;


}

@media screen and {max-width: 1024px;
    section div.box{
width: 100%;
padding: 2%;

height: 100%;

background:  rgba(0, 0, 0, 0.9),


}
section div.box div.conteudo img{
width: 100%;

}
}